.hero-hi {
  opacity: 0;
  animation: slidein-from-bottom 600ms ease-in-out 0ms 1 forwards;
}

.hero-name {
  opacity: 0;
  animation: slidein-from-bottom 700ms ease-in-out 50ms 1 forwards;
}

.hero-title {
  opacity: 0;
  animation: slidein-from-bottom 800ms ease-in-out 100ms 1 forwards;
}

.hero-text {
  opacity: 0;
  animation: slidein-from-bottom 900ms ease-in-out 150ms 1 forwards;
}

.social-container {
  /* height: 4rem;
  width: 4rem; */
  opacity: 0;
  /* padding: 1rem; */
  /* transform: scale(1.1); */
  animation: slidein-from-bottom 900ms ease-in-out 150ms 1 forwards;
}

.social-container:hover {
  animation-play-state: running;
  animation-fill-mode: none;
  /* -webkit-animation-fill-mode: none; */
  /* -o-animation-fill-mode: none; */
  /* TODO: hover doesn't work correctly related to this animation */
  opacity: 1;
  transition: transform 3000ms ease;
  transform: scale(1.1);
}

/* .social-icon:hover {
  fill: oklch(0.373 0.034 259.733);
  transition-duration: 300ms;
} */

@keyframes slidein-from-bottom {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
