.social-container {
  height: 4rem;
  width: 4rem;
  opacity: 0;
  /* padding: 1rem; */
  /* transition: transform 300ms; */
  /* transform: translateY(-1rem); */
  animation: slidein-from-bottom 600ms ease-in-out 300ms 1 forwards;
}

.social-container:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.social-icon:hover {
  fill: oklch(0.373 0.034 259.733);
  transition-duration: 300ms;
}

@keyframes slidein-from-bottom {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
