@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  /* mobile device */
  --breakpoint-xs: 20rem; /* extra small mobile device 320px */
  --breakpoint-sm: 37.5rem; /* small mobile device 600 px */
  /* tablet device */
  --breakpoint-md: 48rem; /* small tablet device 768 px */
  --breakpoint-lg: 64rem; /* large tablet device 1024 px */
  /* desktop device */
  --breakpoint-xl: 80rem; /* small desktop device 1280 px */
  --breakpoint-2xl: 90rem; /* common desktop device 1440 px */
  --breakpoint-3xl: 120rem; /* large desktop device 1920 px */
  --breakpoint-2k: 160rem; /* 2k resolution desktop device 2560 px */
  --breakpoint-4k: 240rem; /* 4k resolution desktop device 3840 px */

  --color-amber-100: #ffecb3;
  --color-amber-200: #ffe082;
  --color-amber-300: #ffd54f; /* main highlight color for dark theme */
  --color-amber-400: #ffca28;
  --color-amber-500: #ffc107; /* main highlight color for light theme */
  --color-amber-600: #ffb300;
  --color-amber-700: #ffa000;
  --color-amber-800: #ff8f00; /* main highlight variant color for light and dark theme */
  --color-amber-900: #ff6f00;

  --color-blue-100: #bbdefb;
  --color-blue-200: #90caf9;
  --color-blue-300: #64b5f6; /* secondary highlight color for dark theme */
  --color-blue-400: #42a5f5;
  --color-blue-500: #2196f3; /* secondary highlight color for light theme */
  --color-blue-600: #1e88e5;
  --color-blue-700: #1976d2;
  --color-blue-800: #1565c0; /* secondary highlight variant color light for dark theme */
  --color-blue-900: #0d47a1;

  --color-dark-bg-1: #121212; /* the darkest color */
  --color-dark-bg-2: #1a1a1a;
  --color-dark-bg-3: #1e1e1e; /* used in logo */
  --color-dark-bg-4: #252525;
  --color-dark-bg-5: #2d2d2d; /* too bright */

  --color-white-bg-1: #f3f4f6;

  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.97 0 0);
  --color-neutral-150: oklch(0.946 0 0);
  --color-neutral-200: oklch(0.922 0 0);
  --color-neutral-250: oklch(0.896 0 0);
  --color-neutral-300: oklch(0.87 0 0);
  --color-neutral-350: oklch(0.789 0 0);
  --color-neutral-400: oklch(0.708 0 0);
  --color-neutral-450: oklch(0.632 0 0);
  --color-neutral-500: oklch(0.556 0 0);
  --color-neutral-550: oklch(0.497 0 0);
  --color-neutral-600: oklch(0.439 0 0);
  --color-neutral-650: oklch(0.405 0 0);
  --color-neutral-700: oklch(0.371 0 0);
  --color-neutral-800: oklch(0.269 0 0);
  --color-neutral-850: oklch(0.237 0 0); /* used in logo */
  --color-neutral-900: oklch(0.205 0 0);
  --color-neutral-925: oklch(0.175 0 0); /* used in background color #1e1e1e */
  --color-neutral-950: oklch(0.145 0 0);

  --text-tiny: 0.625rem;
}

:root {
  color-scheme: light dark;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f3f4f6;
  }
}
